<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:url" content="<%= ImageVacWeb.Router.Helpers.url(@conn) <> @conn.request_path %>" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= title @conn, "View and Save all images from any website" %>" />
    <meta property="og:description" content="<%= title @conn, "View and Save all images from any website" %>" />
    <meta property="og:image" content="<%= image @conn, static_url(@conn, "/images/logo.png") %>" />

    <title>ImageVac - <%= title @conn, "View and Save all images from any website" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= if Mix.env == :prod do %>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107398119-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107398119-1');
      </script>
    <% end %>
  </head>

  <body>
    <div class="hero is-fullheight is-dark is-bold">
      <div class="hero-head">

        <div class="column is-4 is-offset-4 is-text-centered">
          <a href="/">
            <img style="margin:auto; display:block" src="<%= static_path(@conn, "/images/logo.png") %>" />
          </a>
        </div>
        <div class="container">
          <div class="columns">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
    </div>

    <script async src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
