<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="View and download all images from any website. Fast and easy!">
    <meta name="author" content="">

    <meta property="og:url" content="<%= ImageVacWeb.Router.Helpers.url(@conn) <> @conn.request_path %>" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= title @conn, "View and Save all images from any website" %>" />
    <meta property="og:description" content="View and download all images from any website. Fast and easy!" />
    <meta property="og:image" content="<%= image @conn, static_url(@conn, "/images/squarelogo_small.png") %>" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@imagevac" />
    <meta name="twitter:title" content="<%= title @conn, "View and Save all images from any website" %>" />
    <meta name="twitter:description" content="View and download all images from any website. Fast and easy!" />
    <meta name="twitter:image" content="<%= image @conn, static_url(@conn, "/images/squarelogo_small.png") %>" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= static_path(@conn, "/images/icons/apple-touch-icon-57x57.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<%= static_path(@conn, "/images/icons/apple-touch-icon-114x114.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<%= static_path(@conn, "/images/icons/apple-touch-icon-72x72.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<%= static_path(@conn, "/images/icons/apple-touch-icon-144x144.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="<%= static_path(@conn, "/images/icons/apple-touch-icon-60x60.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="<%= static_path(@conn, "/images/icons/apple-touch-icon-120x120.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="<%= static_path(@conn, "/images/icons/apple-touch-icon-76x76.png") %>" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="<%= static_path(@conn, "/images/icons/apple-touch-icon-152x152.png") %>" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/icons/favicon-196x196.png") %>" sizes="196x196" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/icons/favicon-96x96.png") %>" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/icons/favicon-32x32.png") %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/icons/favicon-16x16.png") %>" sizes="16x16" />
    <link rel="icon" type="image/png" href="<%= static_path(@conn, "/images/icons/favicon-128.png") %>" sizes="128x128" />
    <meta name="application-name" content="ImageVac - View and Save all images from any website"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="<%= static_path(@conn, "/images/icons/mstile-144x144.png") %>"/>
    <meta name="msapplication-square70x70logo" content="<%= static_path(@conn, "/images/icons/mstile-70x70.png") %>"/>
    <meta name="msapplication-square150x150logo" content="<%= static_path(@conn, "/images/icons/mstile-150x150.png") %>"/>
    <meta name="msapplication-wide310x150logo" content="<%= static_path(@conn, "/images/icons/mstile-310x150.png") %>"/>
    <meta name="msapplication-square310x310logo" content="<%= static_path(@conn, "/images/icons/mstile-310x310.png") %>"/>

    <title>ImageVac - <%= title @conn, "View and Save all images from any website" %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= if Mix.env == :prod do %>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107398119-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107398119-1');
      </script>
    <% end %>
  </head>

  <body>
    <div class="hero is-fullheight is-dark is-bold">
      <div class="hero-head">

        <div class="column is-4 is-offset-4 is-text-centered">
          <a href="/">
            <img style="margin:auto; display:block" src="<%= static_path(@conn, "/images/logo.png") %>" />
          </a>
        </div>
        <div class="container">
          <div class="columns">
            <%= render @view_module, @view_template, assigns %>
          </div>
        </div>
      </div>
    </div>

    <script async src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
