<%= form_for @changeset, vac_path(@conn, :create), fn f -> %>
  <div class="field">
    <label class="label">URL</label>
    <div class="control">
      <%= text_input f, :url, class: "input is-focused is-meidum", placeholder: "Input URL" %>
    </div>
    </label>
  </div>

  <%= submit "Submit", class: "button is-primary" %>
<% end %>
