<div class="column is-12 is-offset-0">
  <h1 class="title"><%= @vac.url %></h1>
  <div class="box">
    <input id="vac_id" type="hidden" value="<%= @vac.hash_id %>" />
    <%= react_component("Components.Images", %{images: @image_urls, vacId: @vac.hash_id}) %>
  </div>
</div>
