
<h2><%= @vac.url %></h2>

<input id="vac_id" type="hidden" value="<%= @vac.hash_id %>" />

<div id="new_images">
  <h3>New Images</h3>
  <span id="new_images_message">Loading new images...</span>
  <div id="new_images_list">
  </div>
</div>

<hr />

  <div id="masonry">
    <%= for image_url <- @image_urls do %>
      <img src="<%= image_url %>" />
    <% end %>
  </div>
</div>
